* {
    box-sizing: border-box;
    font-size: .38rem;
    font-family: '微软雅黑';
}

*:focus {
    outline: none;
}

body {
    line-height: 1;
    background-color: #EDEDF0;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
label,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

input {
    -webkit-appearance: none;
}

input[type='text'],
input[type="password"] {
    text-indent: .2rem;
}

ul,
li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #333;
    /*&:hover {*/
    /*color: $color-primary;*/
    /*text-decoration: underline;*/
    /*}*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

.fullscreen-mask,
.fullscreen-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.fullscreen-mask {
    z-index: 9;
    height: 100%;
    background: #000;
    opacity: .3;
}

.fullscreen-modal {
    z-index: 99;
    background: #fff;
}

.fullscreen-modal.fullheight {
    height: 100%;
}


/*mui样式修改*/

.mui-bar {
    background-color: #3984FF!important;
}

.mui-icon-back:before,
.mui-icon-left-nav:before,
.mui-bar .mui-title,
.mui-bar .mui-btn-link {
    color: #fff!important;
}

.mui-ios .no-title .mui-bar-nav {
    height: 64px !important;
    padding-top: 20px!important;
}

.mui-ios .no-title .mui-bar-nav~.mui-content {
    padding-top: 63px!important;
}


/*mui样式修改*/